<!DOCTYPE html>
<html>

<head>
    <title>IMDB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1 style="text-align:center">IMDB Lokal</h1>
    <hr>
    <%=   movie.id %></br>
    <%=   movie.judul %></br>
    <%=   movie.isi %></br></br></br>
    <form action="/votes/<%= movie.id %>" method="post">
      <name="movieId" value= <%   movie.id %>>

      Nama Penilai : <select name="inputname">
        <% users.forEach (function (user){ %>
            <option value=<%= user.id %>><%= user.name %></option>
        <% }) %>
      </select></br></br>
      Input Your Rating : <input type="radio" name="vote" value=5>5
      <input type="radio" name="vote" value=4>4
      <input type="radio" name="vote" value=3>3
      <input type="radio" name="vote" value=2>2
      <input type="radio" name="vote" value=1>1</br></br>
      <input type="submit" value="SUBMIT">
    </form>

</body>
</html>